<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
</head>
<body>
    <h1>Bienvenue sur le site</h1>
    <p>Choisissez une section :</p>
    <ul>
        <li><a href="{% url 'polls:index' %}">PAGE TEST</a></li>
        <li><a href="{% url 'polls:knn' %}">Entraînement du S</a></li>

        <li><a href="{% url 'polls:proj' %}">Projet PYTHON A3</a></li>

        
    </ul>

    


<iframe width="300" height="170" 
    src="https://www.youtube.com/embed/MHZfJQYrJrk"
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

<li><a href="{% url 'admin:index' %}">Accès au Board Suprême XD</a></li>
<p>code admin</p>

    <ul> 
        <li>id: admin1</li>
        <li>mdp: admin1</li>
    </ul>
</body>
</html>
